<math xmlns="http://www.w3.org/1998/Math/MathML">
    <apply>
        <eq/>
        <apply>
            <diff/>
            <bvar>
                <ci>time</ci>
            </bvar>
            <ci>omega_1</ci>
        </apply>
        <apply>
            <divide/>
            <apply>
                <plus/>
                <apply>
                    <times/>
                    <ci>c_1</ci>
                    <apply>
                        <minus/>
                        <ci>phi_2</ci>
                        <ci>phi_1</ci>
                    </apply>
                </apply>
                <apply>
                    <times/>
                    <ci>d_1</ci>
                    <apply>
                        <minus/>
                        <ci>omega_2</ci>
                        <ci>omega_1</ci>
                    </apply>
                </apply>
            </apply>
            <ci>J_1</ci>
        </apply>
    </apply>
</math>
